@import url(https://fonts.googleapis.com/css?family=Poppins);
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* Primary Colors */
    --medium-D-blue: #14171D;
    /* ^^general fallback background color */
    --dark-D-blue: #0E1219;
    --light-D-blue: #1E222C;
    --accent-blue: #425074;

    /* Gray Accents */
    --medium-gray: #A8A8A8;
    --light-back: #1A1A1A;

    /* Action Button */
    --bright-Y-action: #E4B22A;
    --dark-Y-action: #C2B552;
    --bright-B-action: #00AAFF;
    --bright-O-action: #AA5029;
    /* Font Colors */



}

/* * {
    font-family: 'Poppins';
} */