@import url(https://fonts.googleapis.com/css?family=Poppins);
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* Primary Colors */
    --medium-D-blue: #14171D;

    /* ^^general fallback background color */
    :root {
        --dark-D-blue: #0E1219;
        --dark-D-blue-rgb: 14 18 25;
        /* REQUIRED for opacity/gradients */
    }

    --mediumlight-D-blue: #1B1F28;
    --light-D-blue: #1E222C;
    --accent-blue: #425074;
    --ranking-blue: #00AAFF;
    /* ANIME BLUE */
    --anime-L-blue: #151F2E;
    --anime-D-blue: #0B1622;
    --anime-FONT-blue: #70889B;
    --anime-HEART-red: #EC294B;
    /* Gray Accents */
    --medium-gray: #A8A8A8;
    /* ICONS */
    --light-back: #1A1A1A;

    /* Action Button */
    --bright-Y-action: #E4B22A;
    --dark-Y-action: #C2B552;
    --bright-B-action: #00AAFF;
    --bright-O-action: #AA5029;
    /* Font Colors */



}

/* Target the entire scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Target the track (the background) */
::-webkit-scrollbar-track {
    background: #14171D;
}

/* Target the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #2d3342;
    border-radius: 5px;
    /* rounded corners */
}

/* Add a hover effect to the thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* * {
    font-family: 'Poppins';
} */