:root {
    /* Primary Colors */
    --medium-D-blue: #14171D;
    --dark-D-blue: #0E1219;
    --light-D-blue: #1E222C;
    --accent-blue: #425074;

    /* Gray Accents */
    --medium-gray: #A8A8A8;

    /* Action Button */
    --bright-Y-action: #E4B22A;
    --dark-Y-action: #C2B552;
    --bright-B-action: #00AAFF;

    /* Font Colors */

}